.slideShow {
  max-width: 850px;
  max-height: 600px;
}
.slideImg {
  max-width: 100%;
}

@media only screen and (max-width: 320px) {
  .slideShow {
    min-width: 380px;
  }
  /* .slideImg{
        min-width:300px;
        height: 300px;
    } * */
}
